<nav xmlns:th="http://www.thymeleaf.org" th:fragment="frag-navigation">
    <ul>
        <li><a th:href="@{/}">MeetMe</a></li>
        <li><a th:href="@{/persons}" th:text="#{navigation.persons}"></a></li>
        <li><a th:href="@{/persons/create}" th:text="#{navigation.persons.create}"></a></li>
        <li>
            <a href="?language=fr">
                <img th:src="@{/images/French.webp}" alt="Français" width="30" height="20">
            </a>
            <a href="?language=en">
                <img th:src="@{/images/English.webp}" alt="Anglais" width="30" height="20">
            </a>
        </li>
    </ul>
</nav>