<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: layout-main(
        pageContent=~{:: .main-content},
        title=~{:: .main-title}
        )}">

<title class="main-title" th:text="#{view-contexte.title}"></title>

<main class = "main-content">
    <h1 th:text="#{view-contexte.h1}"></h1>
    <a th:each="member : ${members}" th:href="@{contexts/login(email= ${member.username})}">
        <button th:text="${member.firstName}"></button>
    </a>
    <a th:href="@{contexts/logout}">
        <button th:text="#{view-contexte.cloture}"></button>
    </a>

</main>
</html>