<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    lang="en"
>
<head>
    <meta charset="UTF-8">
    <title>TP ENI</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="nav-title"><a th:href="@{/}">Filmothèque</a></li>
                <li><a th:href="@{/movies}">Films</a></li>
            </ul>
        </nav>
    </header>

    <h1 id="main-title">Voici la bibliothèque des Films de ENI Ecole</h1>

</body>
</html>