<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: layout-main(
        pageContent=~{:: .main-content},
        title=~{:: .main-title}
        )}">

<title class="main-title" th:text="#{view-film-detail.title}"></title>

<main class="main-content">
    <h1 th:text="#{view-film-detail.h1}"></h1>
    <form th:replace="~{fragments/fragment-movie-form :: frag-movie-form(~{})}"></form>
    <h2 th:text="#{frag-film-form-avis}"></h2>
    <p
            th:if="${!#lists.isEmpty(movie.reviews)}"
            th:each="review : ${movie.reviews}"
            th:text="'[' + ${review.grade} + '] - ' + ${review.comments} + ' (' + ${review.member.firstName} + ' )' "
    >

    </p>
    <p
            th:text="#{frag-film-form-pas-avis}"
            th:if="${#lists.isEmpty(movie.reviews)}">
    </p>
</main>

</html>