<!DOCTYPE html>
<html   xmlns:th="http://www.thymleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Les profils autours de moi</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>
    <h1>Les profils autours de moi</h1>
    <div class = "cards">
        <div class="card" th:each = "person : ${persons}">
            <a th:href="@{'/persons/' + ${person.id}}" th:text="${person.name}"></a>
            <p th:text="${person.description}"></p>
            <button>&#128151;</button>
            <button>&#129314;</button>
        </div>
    </div>
    <p th:if="${#arrays.length(persons) == 0}">Pas de profil à proximité</p>
</body>
</html>