*{
    margin: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
    background-color: hotpink;
    color: white;
    text-align: center;
    padding: 1rem;
}

h1 {
    background-color: hotpink;
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

nav > ul{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    height: 80px;
    box-shadow: 0px 1px 3px rgba(230,230,230,1.0);
}

nav > ul > li{
    list-style-type: none;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

a{
    text-decoration: none;
    color: black;
}

.cards {
    display: flex;
    justify-content: space-around;
}

.card {
    border-style: solid;
    width: 30vw;
    height: 40vh;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}