<!DOCTYPE html>
<html
        xmlns:th="http://www.thymleaf.org"
        lang="fr">
<head>
    <meta charset="UTF-8">
    <title>TP ENI</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="navTitle">
                    <a th:href="@{/}">Filmothèque</a>
                </li>
                <li>
                    <a th:href="@{/movies}">Films</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Voici la bibliothèque des Films de ENI Ecole</h1>
    </main>

</body>
</html>