<form
        xmlns:th="http://www.thymleaf.org"
        th:fragment="frag-review-form(action)"
        th:action="@{${action}}"
        method="POST"
        th:object="${review}"
>
    <div>
        <label for="grade">Note :</label>
        <input
                type="number"
                name="grade"
                id="grade"
                min="0"
                max="5"
                required
                th:disabled="${#strings.isEmpty(action)}"
                th:field="*{grade}"
        >
    </div>
    <br>
    <div class="container">
        <label for="comments">Commentaires :</label>
        <textarea
                name="comments"
                id="comments"
                required
                th:disabled="${#strings.isEmpty(action)}"
                th:field="*{comments}"
        ></textarea>
    </div>
    <button th:if="${!#strings.isEmpty(action)}" type="submit">Enregistrer</button>

</form>